@import './partials/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
/* - - - - - - - - - - 
    commons
- - - - - - - - - - - */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* - - - - - - - - - - 
    global
- - - - - - - - - - - */
header {
    height: 100px;
}

/* - - - - - - - - - - 
    containers
- - - - - - - - - - - */
.container {
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer {
    margin: 0 auto;
    width: 100%;
}

/* - - - - - - - - - - 
    typo
- - - - - - - - - - - */
body {
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: $text-light;
    font-size: 15px;
    text-transform: $text-uppercase;
}

ul {
    list-style: none;
    
    li a {
        text-decoration: none;
    }
}