// background setting
$background-light: #ffffff;
$background-dark: #1c1c1c;
$background-blue: #0C7CEC;
$background-grey: #303030;

// text settings
$text-light: #ffffff;
$text-dark: #000000;
$text-blue: #0C7CEC;
$text-grey: #797979;
$text-bold: bold;
$text-uppercase: uppercase;