// background setting
$background-light: #ffffff;
$background-dark: #000000;
$background-blue: #0C7CEC;

// text settings
$text-light: #ffffff;
$text-dark: #000000;
$text-blue: #0C7CEC;
$text-bold: bold;
$text-uppercase: uppercase;